<html>
<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form hx-post="/products"
                  hx-target="#modal-container"
                  hx-swap="outerHTML">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input id="title" name="title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="handle" class="form-label">Handle</label>
                        <input id="handle" name="handle" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="product-type" class="form-label">Product Type</label>
                        <input id="product-type" name="productType" class="form-control">
                    </div>
                    <!-- Product Items -->
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>Product Items</h6>
                            <button type="button"
                                    class="btn btn-sm btn-outline-primary"
                                    hx-get="/products/product-item/row"
                                    hx-target="#product-items"
                                    hx-swap="beforeend"
                                    hx-on:click="updateIndices()">
                                <i class="fa fa-plus"></i>+ Item
                            </button>
                        </div>

                        <div id="product-items" class="mt-2">
                            <!-- Dynamic rows will appear here -->
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="resetProductItems()">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
