<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index}">
<body>
<!-- Main Content -->
<div layout:fragment="content" class="flex">
    <div class="grid">
        <h2>Welcome, AI Warehouse test page</h2>
        <div class="grid-cols-2">
            <p>This page as a welcome page</p>
            <wa-button hx-get="/store" hx-target="#result" hx-swap="innerHTML">Show data</wa-button>
        </div>
    </div>

    <!-- HTMX Example -->
</div>
</body>
</html>