<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index}">
<body>
<!-- Main Content -->
<div layout:fragment="content">
    <h1 style="font-size: var(--text-2xl); margin-bottom: var(--space-1-5);">
        List of data
    </h1>

    <table class="token-table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price ($)</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        <tr>Test</tr>
<!--        <tr th:each="p : ${products}">-->
<!--            <td th:text="${p['name']}"></td>-->
<!--            <td th:text="${p['price']}"></td>-->
<!--            <td th:text="${p['stock']}"></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
</body>
</html>