<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index}">
<body>
<!-- Main Content -->
<div layout:fragment="content" class="flex">
    <div class="container">
        <h1>Products</h1>

        <button
                class="btn btn-primary"
                hx-get="/products"
                hx-target="#product-table"
                hx-swap="innerHTML">
            <i class="fas fa-download"></i> Load Products
        </button>

        <!--Show modal form-->
        <div id="modal-container" style="position: absolute; top:50%; left: 50%"></div>

        <!-- Table will be dynamically inserted here -->
        <div id="product-table" style="margin-top: 1rem;"></div>

    </div>
</div>
</body>
</html>